<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find realsense_gazebo_plugin)/worlds/realsense.world"/>
    <arg name="headless" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="verbose" value="true"/>
  </include>
</launch>
